<div class="col-md-6 col-lg-6 col-xl-4">
  <a [routerLink]="['/item-details', product.productName]" class="text-decoration-none">
    <div class="rounded position-relative fruite-item">
      <div class="fruite-img">
        <img [src]="product.imageUrl" class="img-fluid w-100 rounded-top" alt="">
      </div>
      <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px; background: red!important;">{{ product.productCategory }}</div>
      <div class="p-4 border border-secondary border-top-0 rounded-bottom">
        <h4>{{ product.productName }}</h4>
        <p>{{ product.description }}</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
          <p class="text-dark fs-5 fw-bold mb-0">{{ product.price }}$</p>
          <button type="button" class="btn border border-secondary rounded-pill px-3"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
        </div>
      </div>
    </div>
  </a>
</div>
