<footer class="footer-top">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <div class="logo-text">Fight<span class="store-sign">Store</span></div>
        </div>
        <div class="footer-top-menu">
          <ul>


            <li>
              <i class="fa fa-home"></i>
              <span class="heading">Address:</span>
              <span class="address">180 Prague, Czechia </span>
            </li>

            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email">
                <a href="mailto:example@gmail.com">example&#64;gmail.com </a>
              </span>
            </li>

            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone Us:</span>
              <span class="number">
                <a href="tel:+420 123 456 789"> +420 123 456 789 </a>
              </span>
            </li>

            <li>
              <a>
                <img class="card-image" src="../../assets/images/cards-removebg-preview.png">
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>My Account</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Information</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Order History</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">My Wishlist</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Privacy policy</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Site Map</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>Information</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Cart</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Product Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">PC Setup & Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Services</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Extended Services Plus</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-all-menu">
          <h2>Our Services</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">About</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Shopping guide</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Store Location</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Affiliates</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Customer Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-news-letter></app-news-letter>
</footer>
