<footer>
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <div class="logo-text">Fight<span class="store-sign">Store</span></div>
        </div>
        <div class="footer-top-menu">
          <ul>


            <li>
              <i class="fa fa-home"></i>
              <span class="heading">Address:</span>
              <span class="address">180 000 Prague, Czech Republic</span>
            </li>

            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email">
                <a href="mailto:example@gmail.com"> example&#64;gmail.com </a>
              </span>
            </li>

            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Phone Us:</span>
              <span class="number">
                <a href="tel:+420 123 456 789"> +420 123 456 789 </a>
              </span>
            </li>

            <li>
              <a>
                <img class="card-image" src="../../assets/images/cards-removebg-preview.png">
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-2"></div>
    </div>
  </div>
</footer>
