<section class="footer-middle">
  <div class="containers">
    <div class="row">
      <div class="col-md-4 item">
        <h2>Sign up for our exclusive Newsletter</h2>
      </div>
      <div class="col-md-4 item">
        <input type="email" class="input" placeholder="Email">
        <button type="button" class="btn"><i class="fa fa-location-arrow"></i></button>
      </div>
      <div class="col-md-4 item">
        <div class="social text-center">
          <ul>
            <li><a href="" ><i class="fab fa-facebook"></i></a></li>
            <li><a href="" ><i class="fab fa-twitter"></i></a></li>
            <li> <a href="" ><i class="fab fa-pinterest"></i></a></li>
            <li><a href="" ><i class="fab fa-instagram"></i></a></li>
            <li><a href="" ><i class="fab fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
