<div class="container-fluid banner bg-secondary my-5">
  <div class="container py-5">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <div class="py-4">
          <h1 class="display-3 text-white">Premium Boxing Gloves</h1>
          <p class="display-3 text-dark mb-4 under">Available Now</p>
          <p class="mb-4 description">The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc.</p>
          <a href="#" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">BUY</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative">
          <img src="../../../assets/images/boxpng.png" class="img-fluid w-100 rounded" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
