.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
    background: black!important;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: red !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: red !important;
}

.fixed-top.shadow {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Example shadow effect */
}
